<div class="account-container btm10">
  <div class="form-content clearfix">
    <%= simple_form_for(resource, :as => resource_name, :url => password_path(resource_name), html: { method: :put }) do |f| %>
      <h1><i class="iconbig-lock"></i> Change Password</h1>
      <%= render 'layouts/messages' %>
      <%= display_base_errors resource %>
      <%= f.hidden_field :reset_password_token %>


      <div class="login-fields">
        <p>Choose your new password:</p>

        <div class="field">
          <label for="password">Password:</label>
          <%= f.input_field :password, autofocus: true, required: true, class: 'login password-field', placeholder: 'Password' %>
        </div> <!-- /password -->

        <div class="field">
          <label for="password">Password confirmation:</label>
          <%= f.input_field :password_confirmation, required: true, class: 'login password-field', placeholder: 'Password confirmation' %>
        </div> <!-- /password -->

        <!-- /password -->
      </div>
      <!-- /login-fields -->
      <div class="login-actions">
        <%= f.button :submit, "Reset", :class => 'btn-signin btn btn-primary' %>
        <a href="<%=root_path%>" class="btn-signin btn">Cancel</a>
      </div>

      <!-- .actions -->
    <% end %>

    <div class="login-social marg10-btm">
      <p>Sign in using social network:</p>
      <a href="<%=user_omniauth_authorize_path(:twitter)%>" class="btn"><%= image_tag("devise/social/twitter-18.png") %> Signin with twitter</a>
      <a href="<%=user_omniauth_authorize_path(:facebook)%>" class="btn"><%= image_tag("devise/social/facebook-18.png") %> Signin with facebook</a>
    </div>
    <div class="marg10-btm">
      <%= render 'devise/shared/links' %>
    </div>
  </div>
  <!-- /form-content -->
</div> <!-- /account-container -->
